<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fig's 30th Birthday Plans</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/figgy.css">
</head>
<body>
	<div class="container">
		<div class="inner">
			<div>
				<h1>Figgy's 30th Birthday Plans</h1>
				<h2>Saturday 27th January at 7pm</h2>
			</div>
			<div>
				<div class="section">
					<div>
						<h3>Dinner at Hache Burgers Chelsea</h3>
						<h3>19:00</h3>
						<img src="/images/hache.jpg" alt="">
						<p>A stylish burger restaurant that also serves chicken, vegetarian options and salads. It has great reviews so the food should be delicious!</p>
					</div>
					<div class="" id="hacheMenu">
						<a href="http://hacheburgers.com/menu/mains/" target="_blank"><button class="button">Menu</button></a>
					</div>
					<div class="" id="hacheLocation">	
						<a href="http://hacheburgers.com/locations/chelsea/" target="_blank"><button class="button">Location</button></a>
					</div>
					<div class="">	
						<a href="https://www.tripadvisor.co.uk/Restaurant_Review-g186338-d1059325-Reviews-or10-Hache_Chelsea-London_England.html" target="_blank"><button class="button">Reviews</button></a>
					</div>
				</div>
				<div class="section">
					<h3>Cocktails in The Chelsea Prayer Room @ The Goat</h3>
					<h3>Approx. 21:00 till late</h3>
					<img id="prayer" src="/images/barPic.jpg" alt="">
					<p>The Chelsea Prayer Room is a secret speakeasy bar hidden behind a locked door inside The Goat restaurant. The staff at the entrance will give us the code for the door and lead us to the secret location.
					</p>
					<p>The cocktails are excellent, but they do also serve other alcoholic and non-alcoholic drinks</p>
					<div class="" id="chelseaDrinks">
						<a href="http://goatchelsea.com/wp-content/uploads/2017/11/A-Z-menu-1.pdf" target="_blank"><button class="button">Cocktail Menu</button></a>
					</div>
					<div class="" id="chelseaDrinks">
						<a href="https://www.google.co.uk/maps/place/Goat/@51.4862173,-0.1803,15z/data=!4m5!3m4!1s0x0:0xfc15bce343a65925!8m2!3d51.4862173!4d-0.1803" target="_blank"><button class="button">Location</button></a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<script
	  	src="https://code.jquery.com/jquery-3.2.1.min.js"
  		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  		crossorigin="anonymous">
	</script>
	<script 
		src="figgy.js" type="text/javascript">
	</script>
</body>
</html>